<!-- new base file  -->

{% load staticfiles %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
    <title>{% block head_title %}{% endblock %}</title>
    {% block extra_head %}
    {% endblock %}

  </head>
  <body class="bg-muted">
    <div class="container">

      <!-- user auth.. -->
      {% if user.is_authenticated %}
      <header class="blog-header">
        <div class="row flex-nowrap justify-content-between align-items-center">
          <div class=" col-xs-4  pt-1 pl-1">
            <a class="text-muted my-2" style="font-family: 'Open Sans', sans-serif;" href="{% url 'post' %}"><button type="button" class="btn btn-warning">Post</button></a>
          </div>
          <div class="col-xs-4">
            <a class="blog-header-logo text-dark font-weight-bold font-italic" style="font-size: 2rem; font-family: 'Bangers', cursive;
            " href="{% url 'home' %}">Neighbourhood</a>
          </div>
          <div class=" col-xs-4 d-flex justify-content-end align-items-end">
            <a class="text-muted" href="{% url 'search' %}" aria-label="Search">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24" focusable="false"><title>Next Door Neibour</title><circle cx="10.5" cy="10.5" r="7.5"></circle><path d="M21 21l-5.2-5.2"></path></svg>
            </a>
            
          </div>
        </div>




      </header>
      <hr>
      <div class="nav-scroller py-1 mb-2 shadow mb-5 bg-white rounded ">
          <nav class="nav-float d-flex justify-content-between">
            <a class="p-1 text-dark" style="font-family: 'Open Sans', sans-serif;" href="{% url 'event' %}">Event</a>
            <a class="p-1 text-dark" style="font-family: 'Open Sans', sans-serif;" href="{% url 'people' %}">Neighbs</a>
            <a class="p-1 text-dark" style="font-family: 'Open Sans', sans-serif;" href="{% url 'tweet' %}">Memory</a>
            <a class="p-1 text-dark" style="font-family: 'Open Sans', sans-serif;" href="{% url 'nearby' %}">Udyog</a>
            <a class="p-1 text-dark" style = "font-family: 'Open Sans', sans-serif;" href="{% url 'logout' %}">Logout</a>

          </nav>
      </div>
      {%else%}
      <header class="blog-header py-3 shadow p-3 mb-5 bg-white rounded">
        <div class="row flex-nowrap justify-content-between align-items-center">
          <div class="col-4 pt-1">
          
          </div>
          <div class="col-4">
            <a class="blog-header-logo text-dark font-weight-bold font-italic" href="#">Neighbourhood</a>
          </div>
            <div class="col-4">
              
            </div>
          </div>
        </div>
      </header>
    
       {% endif %}
    </div>
 <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    {% block content%}
    {% endblock %}
    {% block extra_body %}
    {% endblock %}
    </body>
  </html>



