



<!-- end file -->












<!-- {% load staticfiles %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width = device-width,initial-scale =1.0">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#ffffff">
    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
     Latest compiled and minified CSS -->


<!--       <ul class="nav justify-content-end"> -->

        <!-- <li class="nav-item">
            <a class="nav-link" href="{% url 'search' %}">Search</a>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link" href="{% url 'people' %}">People</a>
        </li> -->
<!--         <li class="nav-item">
          <a class="nav-link" href="{% url 'event' %}">Event</a>
        </li>
		<li class="nav-item">
          <a class="nav-link" href="{% url 'people' %}">Neighbour</a>
        </li>
		<li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
		<li class="nav-item">
          <a class="nav-link" href="{% url 'search' %}">Search</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'post' %}"><div class="stack-container-2x"><div class="fa-combo"><i class="fas fa-book"></i><i class="fas fa-photo-video"></i></div></div>POST</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'tweet' %}"><div class="fa-combo">MEMORY
    <i class="fas fa-camera"></i>
    <i class="fas fa-pen"></i>
  </div></a>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link" href="{% url 'nearby' %}">Near Me</a>
        </li> -->
<!-- 
        {% if e1%}
        <p>{{e1.user}}</p>
        {% if  request.user in e1.user%}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'buss' %}">buss</a>
        </li>
        {% else %}
        {% endif%}
        {% endif %}
        {% block nav_content%}
        {% endblock %}
        <li class="nav-item dropdown" data-toggle="dropdown">

        <a class="nav-link text-light  dropdown-toggle" href="#"><img src="{{user.Profile.image.url}}" alt="Avatar" class="avatar"></a>

        <div class="dropdown-menu dropdown-menu-right">

        <a class="dropdown-item" href="{% url 'people' %}">people</a>

        <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
        <a class="dropdown-item" href="{% url 'home' %}">Profile</a>
        <a class="dropdown-item" href="{% url 'nearby' %}">Near Me</a>


        </div>

        </li>
        <li class="nav-item">
          <a class="nav-link" href=""></a>
        </li>

        {% else %}

      </ul>
        <ul class="nav justify-content-end" >

        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Sign In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'register' %}">Sign Up</a>
        </li>
      {% endif %}
    </ul>
</nav>
 here massage

<p>written in user.py in name a</p>
-->
<!-- -->{%comment%}
    {% block content%}
    {% endblock %}
    {% block extra_body %}
    {% endblock %}{%endcomment%}
<!--   </body>
</html> 
